﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    Providing more information about Richard. See url below for the business
    https://localhost:44347/richard
    About.cshtml 19-Jun-19, 21.17 Changed in Visual Studio

</p>
